#Game2{
  font-family: Arial;
  font-size: 60px;
  background-color: black;
}
#Game2-parent{
  display: flex;
  justify-content:space-around;
  align-items:center;
  width: 100%;
  background-color: lemonchiffon;
}
#Game2-parent img{
  height:320px;
}
#Game2-parent #div-hero-1 div,
#Game2-parent #div-hero-2 div{
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 100%;
}
.Attack-Hero1,
.Attack-Hero2{
  border: none;

  padding: 20px 40px;
  width: 200px;
  margin:20px;

  background-color: rgb(255, 215, 83);
  cursor: pointer;

}
.Help-Hero1,
.Help-Hero2{
  margin:20px;
  width: 200px;

 border: none;
 padding: 20px 40px;
 background-color: rgb(155, 203, 249);
 cursor: pointer;
}  
.button-reset:hover{
  box-shadow: 0px 0px 20px 0px white;
}
.button-play:hover{
  box-shadow: 0px 0px 20px 0px white;
}
.button-reset{
  width: 250px;
  padding: 20px 30px;
  border-radius: 30px;
  margin: 5px;
  background-color: orange;
  border: 0.5px;
  color: white;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;


}
.button-play{
  width: 250px;

  padding: 20px 30px;
  border-radius: 30px;

  margin: 5px;
  background-color: rgb(51, 208, 69);
  border: 0.5px;
  color: white;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;

}
.div-button-reset{
  text-align: center;
}
@media all and (max-width:700px){
  .button-play,
  .button-reset{
      padding: 10px 15px;
      border-radius: 15px;
  }
  .Help-Hero1,
  .Help-Hero2,
  .Attack-Hero1,
  .Attack-Hero2{
      margin:10px;
      width: 100px;
      padding: 10px 20px;
  }
  #Game2-parent {
      min-height: 600px;
  }
  
  #Game2-parent img{
      height:150px;
  }
  
}