
#game3-div-parent{
  background-color: black;
  font-family: Arial;
  width: 100%;
  min-height:700px;
  margin: 10px;  
}
.game3-text{
  text-align:center;
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
}
.game3-div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
}
.game3-div-btn div{
  margin: 5px;
}
.game3-div-btn button{
  padding:5px 20px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.game3-div-btn button::after{
  content: '';
  width: 0;
  height: 3px;
  background:blue;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.4s;
}
.game3-div-btn button:hover::after{
  width: 100%;
  box-shadow:0px 0px 10px 0px white;
}
.game3-div-reset{
  text-align: center;
  margin-top: 20px;
}
.game3-div-reset button{
  padding:5px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  
  text-decoration: none;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.game3-div-reset button::after{
  content: '';
  width: 0;
  height: 3px;
  background:red;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.4s;
}
.game3-div-reset button:hover::after{
  width: 100%;
  box-shadow:0px 0px 10px 0px white;
  
}
#content {
  text-align: center;
  color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  justify-content: center;
  align-items: center;
  grid-column-gap:20px ;
  grid-row-gap: 20px;
}

#content div{
  box-shadow:0px 0px 10px 0px white;
  border-radius: 50%;
}
#content img{
  width:150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  border-radius: 50%;
}


@media all and (max-width: 1100px) {
  #content{
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  }
  #content img{
    width:100px;
    height: 100px;
  }
}
@media all and (max-width: 750px) {
  .game3-div-btn button{
    padding:2px 10px;
    font-size: 15px;
    font-weight: bold;
  }
  #content{
    grid-template-columns: repeat(auto-fit, minmax(70px,1fr));
    grid-column-gap:25px ;
    grid-row-gap: 15px;
  }
  #content img{
    width:70px;
    height: 70px;
  }
}
@media all and (max-width: 600px) {
  .game3-div-btn button{
    padding:2px 10px;
    font-size: 15px;
    font-weight: bold;
  }
  #content{
      grid-template-columns: repeat(auto-fit, minmax(60px,1fr));
      grid-column-gap:25px ;
      grid-row-gap: 15px;
    }
    #content img{
      width:60px;
      height: 60px;
    }
  }