#Calculation-div-parent div{
    padding: 5px;
    margin: 5px;
}
  #Calculation-div-parent{
   padding: 20px;
   margin: 20px;
   text-align: center;
   width: 500px;
   min-height: 500px;
   border: none;
   background-color: rgb(99, 170, 240);
   border-radius:10px;
   font-size: 28px;
}

.Calculation-div-form button:hover{
   background-color: red;
}
.Calculation-div-form button{
  background-color: cornflowerblue;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
#Calculation-div-parent input{
  padding: 10px 20px ;
  width: 80%;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px 0px ;
}
::placeholder{
font-size: 20px;
} 
#Calculation-reset{
 color: brown;
  font-size: 20px;
  color: white;
}
#Calculation-reset:hover{
  box-shadow: 0px 0px 10px 0px ;
  cursor: pointer;
}
.Calculation-div-a-submit{
  margin-top:20px;
  display: flex;
  justify-content: space-between;
}
#Calculation-submit{
  padding:10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#Calculation-submit:hover{
   box-shadow: 0px 0px 10px 0px ;
}


