
#Game1-parent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  padding: 5px;
  margin: 5px;
  width: 100%;
  min-height: 700px;
  text-align: center;
}
.Game1-scissors-stone-paper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.Game1-scissors-stone-paper div{
  flex-basis: 30%;
  margin-bottom: 20px;
}
.Game1-resoult,
.Game1-Comouter,
.Game1-Rock{
  margin:5px;
  color: red;
  font-size: 35px;
  width: 99%;
  cursor: pointer;
}

.Game1-div-child{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.Game1-scissors-stone-paper img,
.Game1-div-child2 img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}
.Game1-div-child img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
 
}
.Game1-scissors-stone-paper img:hover{
  box-shadow: 0px 0px 5px 0px ;
  
}
@media all and (max-width:500px) {
  .Game1-scissors-stone-paper img,
  .Game1-div-child2 img{
      width: 50px;
      height: 50px;
  }
  .Game1-div-child img {
      width: 50px;
      height: 75px;
      object-fit: cover;
  }
  #Game1-parent{
    font-size: 15px;
  }

}