
#contact{
  padding: 40px ;
  background-color: black;
  color: white;
}
.contact-container{
  display: flex;
}
.contact-left{
  flex-basis: 45%;
  margin-right: 25px;
}
.contact-rigth{
  display: none;
  flex-basis: 50%;
  padding: 20px;
}
.contact-left div{
  margin-left: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact-left-p-img{
  width: 50px;
  
}
.contact-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.contact-social-icon{
  display: inline-block;
  margin-top: 30px;
}
.contact-social-icon-img{
  width: 50px;
}

.contact-social-icon-a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.6s;
}

.submit-btn{
  display: inline-block;
  background-color: black;
  border:1px solid #ff004f;
  margin: 20px auto;
  width: fit-content;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.6s;
  transition:  0.6s,transform 0.6s;
}
.submit-btn:hover{
background-color: #ff004f;
transform: translateY(-6px);
}
.contact-rigth-form{
  width: 100%;
}
.contact-rigth-form-input{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin:15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}
.contact-rigth-form-textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin:15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}
.end-p{
  width: 100%;
  padding: 25px ;
  text-align: center;
  background: #262626;
  margin-top: 20px;
  font-weight: 300;
}
@media only screen and (max-width: 600px){
    .contact-container{
      display: block;
    }
    .contact-rigth{
      padding: 20px;
    }
    .end-p{
      font-size: 14px;
    }
}
